@use "../../index.scss" as *;
.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
  font-family: $font-family;
  margin-top: 24px;
  background-color: #fff;
  height: auto;
  margin-bottom: 50px;
  .containerTop {
    display: flex;
    justify-content: space-between;

    .titleLikedTagContainer {
      display: flex;
      flex-direction: column;
      overflow-wrap: anywhere;
      .title {
        display: flex;
        font-size: 20px;
        line-height: 140%;
        color: $primary-color;
        margin-bottom: 10px;
      }

      .liked {
        display: flex;
        align-items: center;
        width: 34px;
        height: 22px;
        margin-left: 10px;
      }
      .like {
        margin-left: 5px;
      }
    }

    .profileContainer {
      display: flex;
      align-items: center;
      gap: 12px;
      position: relative;

      .leftBlock {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 18px;
          line-height: 156%;
          color: $heading-color;
        }

        .date {
          font-size: 12px;
          line-height: 183%;
          color: $text-color-secondary;
        }
      }

      img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        object-fit: cover;
      }

      .buttonContainer {
        position: absolute;
        bottom: -49px;
        left: -6px;
        display: flex;
        gap: 8px;
        padding: 4px;
      }
    }

    .titleTagContainer {
      display: flex;
      flex-direction: column;
    }
    .tag {
      display: inline-flex;
      gap: 5px;
      max-width: 800px;
      flex-wrap: wrap;
    }
    .tagName {
      border: 1px solid $text-color-secondary;
      border-radius: 2px;
      display: flex;
      font-size: 12px;
      color: $text-color-secondary;
      padding: 0 3px;
    }
    .titleLikedContainer {
      display: flex;
      align-items: baseline;
    }
  }
  .bottomContainer {
    margin-top: 16px;
    width: 700px;
    .description {
      font-size: 12px;
      line-height: 183%;
      color: $text-color-secondary;
      overflow-wrap: anywhere;
    }
  }
  .markdownContainer {
    line-height: 140%;
    color: $text-color;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-wrap: anywhere;
    padding: 16px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
